{:linters {:not-a-function    {:skip-args [starfederation.datastar.clojure.expressions/->expr
                                           starfederation.datastar.clojure.expressions/->js
                                           starfederation.datastar.clojure.expressions/->js-str]}
           :unresolved-symbol {:exclude ['(starfederation.datastar.clojure.expressions/->expr)
                                         '(starfederation.datastar.clojure.expressions/->js)
                                         '(starfederation.datastar.clojure.expressions/->js-str)]}}}
