{:total "Gesamt"

 :dashboard {:welcome "Willkommen %1!"}

 :gig {:end-time-warning "ACHTUNG: Die Endzeit wird nur geschätzt. Jemand hat dieses Feld in SNOrga nicht ausgefüllt."}

 :email-subject
 {:gig-created  "Neuer Gig: %1"
  :gig-updated  "Gig-Bearbeitung: %1"
  :gig-reminder "Gigerinnerung: %1"
  :new-invite   "Ihre SNO-ID wartet auf Sie."
  :poll-created "Neue Umfrage: %1"}

 :email
 {:gig-edit-type                "BEARBEITET"
  :gig-info-page                "Bring mich zur Gig-Info-Seite"
  :want-reminder                "Erinnere mich in ein paar Tagen daran"
  :sign-off                     "Mit groovigen Grüßen — SNObot"
  :gig-edited                   "An einem Gig hat sich etwas geändert!"
  :remind-extra-probe           "Dies ist eine Erinnerung an eine bevorstehende Extrasonde! Bitte antworten :)"
  :cannot-make-it               "Ich schaffe es nicht"
  :body-log-plays               "Bitte erzählt SNOrga, was wir bei der Probe am %1 gespielt haben *und* wer die Probeleitung für nächste Woche ist! Es dauert nur 1 Minute."
  :subject-log-plays            "Was haben wir im Probe gespielt?"
  :new-probe-added              "Eine neue Probe steht an!"
  :need-to-change-availability? "Ich muss meine Verfügbarkeit ändern"
  :can-you-make-it?             "Kannst du es schaffen?"
  :cta-log-plays                "Klicken Sie hier!"
  :remind-probe                 "Dies ist eine Erinnerung an eine bevorstehende Untersuchung! Bitte antworten :)"
  :invite-new-user-intro2       "Klickst du auf den Link unten, um dein Konto einzurichten."
  :invite-new-user-intro        "Du hast eine Einladung erhalten, eine StreetNoise Orchestra (SNO)-ID zu erstellen!"
  :greeting-personal            "Liebe:r %1"
  :sign-off-personal            "Danke und liebe Grüße,"
  :remind-gig                   "Dies ist eine Erinnerung an einen bevorstehenden Auftritt! Bitte antworten :)"
  :can-make-it                  "Ich kann es schaffen!"
  :new-extra-probe-added        "Eine neue Extraprobe steht an!"
  :greeting                     "Hallo!"
  :new-meeting-added            "Ein neues Treffen steht an!"
  :new-gig-added                "Ein neuer Gig steht an!"
  :remind-meeting               "Dies ist eine Erinnerung an ein bevorstehendes Treffen! Bitte antworten :)"}}
