/* component shell */
.sno-step-circles {
  --sno-step-circles-circle-size: 2rem;
  --sno-step-circles-step-size: 7rem;

  display: flex;
  overflow-x: auto;
}

@scope (.sno-step-circles) {
  /* list layout */
  ol {
    display: flex;
    align-items: start;
    justify-content: safe center;
    inline-size: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  /* step item */
  li {
    position: relative;
    display: grid;
    justify-items: center;
    flex: 1 1 var(--sno-step-circles-step-size);
    gap: var(--wa-space-2xs);
    inline-size: var(--sno-step-circles-step-size);
    min-inline-size: min-content;
    max-inline-size: 9rem;
    margin: 0;
  }

  /* line connector */
  hr {
    position: absolute;
    z-index: 0;
    inset-block-start: calc(var(--sno-step-circles-circle-size) / 2);
    inset-inline-start: 50%;
    inset-inline-end: calc(-50% - (var(--sno-step-circles-circle-size) / 2));
    block-size: 0.125rem;
    margin: 0;
    padding: 0;
    border: 0;
    pointer-events: none;
    background: var(--wa-color-neutral-border-normal);
    transform: translateY(-50%);
  }

  hr + hr {
    background: var(--color-sno-orange-600);
  }

  /* circle */
  .circle {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--sno-step-circles-circle-size);
    block-size: var(--sno-step-circles-circle-size);
    color: var(--wa-color-text-normal);
    background: var(--wa-color-surface-default);
    border-radius: 9999px;
    transition:
      background-color var(--wa-transition-normal) var(--wa-transition-easing),
      border-color var(--wa-transition-normal) var(--wa-transition-easing);
  }

  /* step states */
  .complete .circle {
    color: white;
    background: var(--color-sno-orange-600);
  }

  .complete .circle:hover {
    background: var(--color-sno-orange-900);
  }

  .current .circle {
    border: 2px solid var(--color-sno-orange-600);
  }

  .empty .circle {
    border: 2px solid var(--wa-color-neutral-border-normal);
  }

  .empty .circle:hover {
    border-color: var(--wa-color-neutral-border-loud);
  }

  /* circle icon and dot */
  .circle .sno-icon {
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }

  .circle > span {
    inline-size: 0.625rem;
    block-size: 0.625rem;
    border-radius: 9999px;
    background: transparent;
  }

  .current .circle > span {
    background: var(--color-sno-orange-600);
  }

  .empty .circle:hover > span {
    background: var(--wa-color-neutral-fill-loud);
  }

  /* step label */
  small {
    max-inline-size: 7rem;
    color: var(--wa-color-text-quiet);
    font-size: var(--wa-font-size-s);
    line-height: var(--wa-line-height-condensed);
    text-align: center;
  }
}
