/* Web Awesome native table styles are too spacious for our dense data tables. */
td,
th {
  padding: var(--sno-table-cell-padding);
}

.table-shell {
  overflow-x: auto;
  background-color: var(--wa-color-neutral-fill-quiet);
  border: var(--wa-border-width-s) var(--wa-border-style)
    var(--wa-color-surface-border);
  border-radius: var(--wa-panel-border-radius);

  table thead th {
    z-index: 1;
    background: var(--wa-color-surface-default);
  }
}
